html {
	height: 100%;
}

body {
	padding: var(--spacing-rel-large) 0;
	background: var(--color-background);

	// Center page content on homepage
	&.homepage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
}

main {
	width: 800px;
	max-width: 100%;
	margin: var(--spacing-rel-medium) auto;
	padding: var(--spacing-rel-medium);
	background: var(--color-background-light);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
