body {
	// Colors (light)
	--color-background: #f0f0f0;
	--color-background-light: #ffffff;
	--color-background-code-block: #f5f5f5;
	--color-background-code-inline: #f2f2f2;
	--color-background-file-name: #e3e3e3;
	--color-main: #009dbf;
	--color-main-hover: #30c7e8;
	--color-text: #585858;
	--color-heading: #383b3f;

	// Colors (dark)
	@media (prefers-color-scheme: dark) {
		--color-background: #232323;
		--color-background-light: #353535;
		--color-background-code-block: #1d1d1d;
		--color-background-code-inline: var(--color-background-code-block);
		--color-background-file-name: #0c0c0c;
		--color-main: #70c8db;
		--color-main-hover: #3c98ad;
		--color-text: #e4e4e4;
		--color-heading: #ececec;
	}

	// Fonts
	--font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica",
		"Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-size: 19px;
	--font-size-h1: 230%;
	--font-size-h2: 160%;
	--font-size-h3: 120%;
	--font-size-h4: 100%;
	--font-size-small: 70%;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 600;
	--line-height: 1.75;

	// Spacing
	--spacing-abs-very-small: 6px;
	--spacing-abs-small: 15px;
	--spacing-abs-medium: 30px;
	--spacing-abs-large: 40px;
	--spacing-rel-small: calc(#{var(--spacing-abs-very-small)} + 1vw);
	--spacing-rel-medium: calc(#{var(--spacing-abs-medium)} + 2vw);
	--spacing-rel-large: calc(#{var(--spacing-abs-large)} + 5vw);

	// Other
	--border-radius: 5px;
	--box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.025);
	--transition: 0.3s;
}
