body:not(.home) footer {
	margin-top: $spacing-rel-medium;
}

footer {
	line-height: 1;
}

.social-links {
	text-align: center;

	li {
		display: inline-block;
	}

	li + li {
		margin-left: $spacing-abs-medium;
	}

	.icon {
		transition: $transition;
		fill: $color-text;

		&:hover {
			fill: $color-main-hover;
		}
	}

	// Imitate link for email (has no href)
	.icon-email {
		cursor: pointer;
	}
}
