body:not(.home) footer {
	margin-top: $spacing-rel-medium;
}

footer {
	line-height: 1;
}

.social-links {
	text-align: center;

	// Imitate link for email (has no href)
	.icon-email {
		cursor: pointer;
	}
}
