header {
	text-align: center;
}

body:not(.home) header {
	margin-bottom: $spacing-rel-medium;
	padding: $spacing-rel-small;
}

body:not(.home) h1 {
	margin-bottom: $spacing-abs-medium;
}

.home h1 {
	margin: $spacing-rel-medium 0;
}

.nav-item {
	display: inline-block;
}

.nav-item + .nav-item {
	margin-left: $spacing-abs-medium;
}

.nav-item-active {
	font-weight: $font-weight-bold;
}
