header {
	text-align: center;
}

body:not(.home) header {
	margin-bottom: $spacing-rel-medium;
}

.home h1 {
	margin: $spacing-rel-small 0;
}

nav {
	font-size: $font-size-h3;
}

body:not(.home) {
	margin-top: $spacing-abs-medium;
}

.nav-item {
	display: inline-block;
	padding: 0 $spacing-abs-medium;
}

.nav-item-active {
	font-weight: $font-weight-bold;
}
