.icon-list {
	line-height: 1;

	a {
		cursor: pointer; // Display pointer for all links (even those without href)
	}

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 20px;
	}
}

.icon {
	transition: var(--transition);
	fill: var(--color-text);

	&:hover {
		fill: var(--color-main-hover);
	}
}
