.icon-list {
	line-height: 1;

	a {
		border: 0; // Remove underline
		cursor: pointer; // Display pointer for all links (even those without href)
	}

	li {
		display: inline-block;
	}

	li + li {
		margin-left: $spacing-abs-medium;
	}
}

.icon {
	transition: $transition;
	fill: $color-text;

	&:hover {
		fill: $color-main-hover;
	}
}
