body {
	padding: $spacing-rel-large $spacing-rel-small $spacing-rel-medium $spacing-rel-small;
	background: $color-background;
}

main {
	width: 850px;
	max-width: 100%;
	margin: 0 auto;
	padding: $spacing-rel-medium;
	background: $color-background-light;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

hr {
	width: 50%;
	margin: $spacing-abs-large auto;
}
