.post {
	.post-info {
		margin-bottom: $spacing-abs-large;
		font-size: $font-size-small;
	}

	.post-categories li {
		display: inline-block;
	}
}

.post-content {
	p + p {
		margin-top: $spacing-abs-medium;
	}

	ol,
	ul {
		margin: $spacing-abs-medium 0 $spacing-abs-medium $spacing-abs-large;
	}

	ul {
		list-style-type: disc;
	}
}

.post-actions {
	text-align: center;

	li {
		display: inline-block;
	}

	li + li::before {
		content: " · ";
	}
}
