.post-info {
	margin-bottom: var(--spacing-abs-very-small);
	font-size: var(--font-size-small);

	@include large-screen {
		> * {
			display: inline-block;
		}
	}
}

.post-categories {
	@include small-screen {
		+ li::before {
			content: " · ";
		}
	}

	@include large-screen {
		&::before {
			content: " · ";
		}
	}

	li {
		display: inline-block;
	}
}
