.post-info {
	margin-bottom: $spacing-abs-small;
	font-size: $font-size-small;

	@include large-screen {
		> * {
			display: inline-block;
		}
	}
}

.post-categories {
	@include small-screen {
		+ li::before {
			content: " · ";
		}
	}

	@include large-screen {
		&::before {
			content: " · ";
		}
	}

	li {
		display: inline-block;
	}
}
