.project-preview {
	margin-top: $spacing-abs-large;

	@include small-screen {
		text-align: center;
	}

	@include large-screen {
		display: flex;
		align-items: center;

		.project-icon {
			margin-right: $spacing-abs-large;
		}

		.project-info {
			flex: 1;
		}
	}

	h3 {
		margin-top: 0;
	}
}
