body {
	color: $color-text;
	font-weight: $font-weight-normal;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: 0.01em;
	hyphens: auto;
}

h1,
h2,
h3,
h4 {
	color: $color-heading;
	font-weight: $font-weight-semibold;
}

h1 {
	font-size: $font-size-h1;
	line-height: 1.25;
	letter-spacing: 0.05em;
}

h2 {
	margin-bottom: $spacing-abs-medium;
	font-size: $font-size-h2;
	letter-spacing: 0.04em;
	text-align: center;
}

h3 {
	margin-top: $spacing-abs-medium;
	margin-bottom: $spacing-abs-very-small;
	font-size: $font-size-h3;
	letter-spacing: 0.03em;
}

h4 {
	margin-top: $spacing-abs-small;
	margin-bottom: $spacing-abs-very-small;
	font-size: $font-size-h4;
	letter-spacing: 0.02em;
}

strong {
	font-weight: $font-weight-bold;
}
