body {
	color: $color-text;
	font-weight: $font-weight-normal;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: 0.01em;
	hyphens: auto;
}

h1,
h2,
h3 {
	color: $color-heading;
	font-weight: $font-weight-bold;
}

h1 {
	font-size: $font-size-h1;
	letter-spacing: 0.05em;
}

h2 {
	margin-bottom: $spacing-abs-small;
	font-size: $font-size-h2;
	letter-spacing: 0.04em;
	text-align: center;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: $spacing-abs-small;
	font-size: $font-size-h3;
	letter-spacing: 0.03em;
}

a {
	color: $color-main;
	text-decoration: none;
	transition: color $transition;

	&:hover {
		color: $color-main-hover;
	}
}

main a {
	color: inherit;
	border-bottom: 0.125em solid $color-main-hover;
}
