body {
	color: var(--color-text);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: 0.01em;
	hyphens: auto;
}

// Text in serif font (applied to everything that is not sans-serif or monospace)
body {
	font-family: "Crimson Pro", serif;

	// Links: colored underline
	a {
		padding-bottom: 0.5px; // Show underlines under inline code
		color: inherit;
		text-decoration: none;
		border-bottom: 0.1em solid var(--color-main-hover);
		transition: color var(--transition);

		&:hover {
			color: var(--color-main-hover);
		}
	}
}

// Text in sans-serif font (headings and info text)
@include sans-serif {
	font-family: "Inter", var(--font-family-system);

	@supports (font-variation-settings: normal) {
		font-family: "Inter var", sans-serif;
	}

	// Links: Colored, no underline
	a {
		color: var(--color-main);
		border: 0;
	}
}

// Text in monospace font (code)
@include monospace {
	font-family: "IBM Plex Mono", monospace;
}

h1,
h2,
h3,
h4 {
	color: var(--color-heading);
	font-weight: var(--font-weight-semibold);
}

h1 {
	font-size: var(--font-size-h1);
	line-height: 1.25;
	letter-spacing: 0.05em;
}

h2 {
	margin-bottom: var(--spacing-abs-medium);
	font-size: var(--font-size-h2);
	letter-spacing: 0.04em;
	text-align: center;
}

h3 {
	margin-top: var(--spacing-abs-medium);
	margin-bottom: var(--spacing-abs-very-small);
	font-size: var(--font-size-h3);
	letter-spacing: 0.03em;
}

h4 {
	margin-top: var(--spacing-abs-small);
	margin-bottom: var(--spacing-abs-very-small);
	font-size: var(--font-size-h4);
	letter-spacing: 0.02em;
}

strong {
	font-weight: var(--font-weight-bold);
}

.image-link {
	border: 0;
}
