body {
	color: $color-text;
	font-weight: $font-weight-normal;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: 0.01em;
	hyphens: auto;
}

h1,
h2,
h3 {
	color: $color-heading;
	font-weight: $font-weight-bold;
}

h1 {
	font-size: $font-size-h1;
	line-height: 1.2;
	letter-spacing: 0.05em;
}

h2 {
	margin-bottom: $spacing-abs-large;
	font-size: $font-size-h2;
	letter-spacing: 0.04em;
	text-align: center;
}

h3 {
	margin-top: $spacing-abs-large;
	margin-bottom: $spacing-abs-small;
	font-size: $font-size-h3;
	letter-spacing: 0.03em;
}
