// Colors
$color-background: #eaebf3;
$color-background-light: #f7f7fa;
$color-main: #27837c;
$color-main-hover: #41b6ac;
$color-text: #585858;
$color-heading: #383b3f;

// Fonts
$font-size: 19px;
$font-size-h1: 300%;
$font-size-h2: 200%;
$font-size-h3: 130%;
$font-size-small: 75%;
$font-weight-normal: 300;
$font-weight-bold: 500;
$line-height: 1.8;

// Spacing
$spacing-rel-large: 10vw;
$spacing-rel-medium: 5vw;
$spacing-rel-small: 2.5vw;
$spacing-abs-large: 40px;
$spacing-abs-medium: 20px;
$spacing-abs-small: 7px;

// Other
$border-radius: 3px;
$box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.025);
$transition: 0.3s;
