// Colors
$color-background: #eaebf3;
$color-background-light: #f7f7fa;
$color-main: #27837c;
$color-main-hover: #41b6ac;
$color-text: #585858;
$color-heading: #383b3f;

// Fonts
$font-size: 19px;
$font-size-h1: 250%;
$font-size-h2: 160%;
$font-size-h3: 120%;
$font-size-small: 75%;
$font-weight-normal: 300;
$font-weight-bold: 500;
$line-height: 1.8;

// Spacing
$spacing-abs-small: 7px;
$spacing-abs-medium: 20px;
$spacing-abs-large: 40px;
$spacing-rel-small: calc(#{$spacing-abs-small} + 1vw);
$spacing-rel-medium: calc(#{$spacing-abs-medium} + 2vw);
$spacing-rel-large: calc(#{$spacing-abs-large} + 5vw);

// Other
$border-radius: 3px;
$box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.025);
$transition: 0.3s;
