// Style reset
@import "./general/minireset";

// General
@import "./general/variables";
@import "./general/mixins";
@import "./general/layout";
@import "./general/icons";
@import "./general/text";

// Elements
@import "./elements/header";
@import "./elements/footer";
@import "./elements/social-links";
@import "./elements/post-info";
@import "./elements/project";
@import "./elements/code";

// Pages
@import "./pages/404";
@import "./pages/post-list";
@import "./pages/post";
