// Style reset
@import "node_modules/minireset.css/minireset.css";

// General
@import "./general/mixins";
@import "./general/variables";
@import "./general/layout";
@import "./general/icons";
@import "./general/text";

// Pages
@import "./pages/page";
@import "./pages/404";
@import "./pages/list";
@import "./pages/post";

// Elements
@import "./elements/header";
@import "./elements/footer";
@import "./elements/navigation";
@import "./elements/social-links";
@import "./elements/post-metadata";
@import "./elements/project";
@import "./elements/code";
@import "./elements/code-light";
@import "./elements/code-dark";
