.button {
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 12px;

	// flexbox (for centering content)
	display: inline-flex;
	align-items: center;
	justify-content: center;

	.icon {
		margin-right: 10px;
	}

	&:hover {
		.icon {
			fill: $color-text;
		}
	}
}

.button-email {
	.icon {
		fill: $color-email;
	}

	&:hover {
		background-color: $color-email;
	}
}

.button-github {
	.icon {
		fill: $color-github;
	}

	&:hover {
		background-color: $color-github;
	}
}

.button-linkedin {
	.icon {
		fill: $color-linkedin;
	}

	&:hover {
		background-color: $color-linkedin;
	}
}

.button-product-hunt {
	.icon {
		fill: $color-product-hunt;
	}

	&:hover {
		background-color: $color-product-hunt;
	}
}
