html {
	height: 100%;
}

body {
	background-color: $color-background;
	height: 100%;
	padding: 50px;

	// flexbox (for centering content)
	display: flex;
	align-items: center;
	justify-content: center;
}

.tagline {
	margin: 25px 0 50px;
}

// responsive button alignment (next to each other on large screens, below each other on small ones)
li {
	@media (max-width: 500px) {
		display: block;

		& + & {
			margin-top: 10px;
		}
	}

	@media (min-width: 501px) {
		display: inline;

		& + & {
			margin-left: 25px;
		}
	}
}

// animations
.animated {
	transition: 0.2s;
}