html {
	height: 100%;
}

body {
	background-color: $color-background;
	height: 100%;
	padding: 50px;

	// flexbox (for centering content)
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	margin-bottom: 50px;
}

.button-list {
	display: grid;
	grid-column-gap: 25px;
	grid-row-gap: 10px;

	@media (min-width: 701px) {
		grid-template-columns: repeat(4, auto);
	}
}

// animations
.animated {
	transition: 0.2s;
}
