// colors
$color-text:        #E0E0E0;
$color-background:  #232D34;
$color-linkedin:    #0077B5;
$color-github:      #6E5494;
$color-email:       #B03A2E;

// fonts
@font-face {
	font-family: Archive;
	src: url(../../fonts/archive-font.otf);
}
$font-title:  'Archive', 'Source Sans Pro', sans-serif;
$font-body:   'Source Sans Pro', sans-serif;