.header {
	padding: 0 var(--spacing-rel-small);
	text-align: center;
}

.site-title {
	margin-bottom: var(--spacing-abs-medium);
}

.homepage {
	.header {
		margin-top: var(--spacing-rel-medium);
	}

	.site-title {
		margin-bottom: var(--spacing-rel-medium);
	}
}
