.post-metadata {
	font-size: var(--font-size-small);
}

.post-date-created {
	display: inline;
}

.post-category-list {
	display: inline;

	// Separator between post date and categories
	&::before {
		content: "\2000\2022\2000";
	}
}

.post-category {
	display: inline;

	// Separator between post categories
	&:not(:last-child)::after {
		content: ",\0020"; // Space needs to be specified as escaped Unicode to avoid it being removed
	}
}
