.post-info {
	margin-bottom: var(--spacing-abs-very-small);
	font-size: var(--font-size-small);

	@include large-screen {
		// Use Flexbox to avoid whitespace issues
		display: inline-flex;
	}
}

.post-categories {
	// Use Flexbox to avoid whitespace issues
	display: inline-flex;

	// Hide list symbols
	list-style-type: none !important; // stylelint-disable-line declaration-no-important

	// Separator between post date and categories
	@include large-screen {
		&::before {
			content: " • ";
		}
	}
}

.post-category:not(:last-child)::after {
	content: ",\00a0"; // Space needs to be specified as escaped Unicode to avoid it being removed
}
