.project {
	@include small-screen {
		text-align: center;

		.project-name {
			margin-bottom: var(--spacing-abs-very-small);
		}

		.project-metadata {
			margin-bottom: var(--spacing-abs-very-small);
		}
	}

	@include large-screen {
		display: flex;
		align-items: center;

		.project-icon {
			margin-right: var(--spacing-abs-large);
		}

		.project-info {
			flex: 1;
		}

		.project-name {
			margin-bottom: 0;
		}
	}

	// Remove heading spacing (cannot collapse into higher-level heading spacing)
	.project-name {
		margin-top: 0;
	}

	// Remove list spacing
	.post-category-list {
		margin: 0;
	}
}

// Add back heading spacing between adjacent projects
.project + .project {
	margin-top: var(--spacing-abs-medium);
}
