.social-links {
	line-height: 1;

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 20px;
	}
}

.social-link {
	// Display pointer for all links (even those without href)
	cursor: pointer;
}
