.post-title {
	margin-bottom: var(--spacing-abs-small);
}

.post-head .post-info {
	margin-bottom: var(--spacing-abs-large);
	text-align: center;
}

// Summary (first paragraph)
.post-content {
	> p:first-child {
		margin-bottom: var(--spacing-abs-large);
		text-align: center;
	}

	img {
		margin: var(--spacing-abs-small) 0;
	}
}

.post-actions {
	text-align: center;

	li {
		display: inline-block;
	}

	li + li::before {
		content: " • ";
	}
}
