.post-title {
	margin-bottom: var(--spacing-abs-small);
}

.post .post-metadata {
	justify-content: center;
	margin-bottom: var(--spacing-abs-medium);
}

.post-content {
	// Post summary (first paragraph)
	> p:first-child {
		margin-bottom: var(--spacing-abs-large);
		text-align: center;
	}

	img {
		margin: var(--spacing-abs-small) 0;
		border-radius: calc(var(--border-radius) / 2);
	}
}

.post-actions {
	margin-top: var(--spacing-abs-large);
	text-align: center;

	li {
		display: inline-block;
	}

	li + li::before {
		content: " • ";
	}
}
