<li class="project-preview">
	<!-- Icon -->
	<img
		src="/projects/{{ .Params.name }}/icon.svg"
		alt="{{ .Title }} icon"
		width="80"
		class="project-icon"
	/>

	<div>
		<!-- Project name -->
		<h3>
			<a href="{{ .Params.website }}">{{ .Title }}</a>
		</h3>

		<div class="post-info">
			<!-- Date (month and year) -->
			<p>{{ .Date.Format "January 2006" }}</p>

			<!-- Links -->
			<ul class="post-categories">
				{{ range $link, $category := .Params.links }}
				{{- if gt $link 0 }}, {{ end -}}
					<li>
						<a href="{{ .url }}">
							{{ .title }}
						</a>
					</li>
				{{- end -}}
			</ul>
		</div>

		<!-- Description -->
		<p>{{ .Description }}</p>
	</div>
</li>
