<!--
	Partial for featured project. Includes icon, release date, links (e.g. to App Store and GitHub)
	and description.
-->
<div class="project">
	{{ $name := .Get "name" }}
	{{ $date := .Get "date" | time }}
	{{ $description := .Get "description" }}
	{{ $iconPath := .Get "iconPath" }}
	{{ $websiteURL := .Get "websiteURL" }}
	{{ $appStoreURL := .Get "appStoreURL" }}
	{{ $githubURL := .Get "githubURL" }}
	{{ $defaultURL := $websiteURL | default $appStoreURL | default $githubURL }}

	<!-- Project icon -->
	<a href="{{ $defaultURL }}" class="icon-link">
		<img src="{{ $iconPath }}" alt="{{ $name }} icon" width="80" height="80" class="project-icon" />
	</a>

	<div class="project-info">
		<!-- Project name -->
		<h4 class="project-name"><a href="{{ $defaultURL }}">{{ $name }}</a></h4>

		<!-- Metadata: Same markup as in `post-metadata` partial -->
		<div class="post-metadata">
			<!-- Date (month and year) -->
			<p class="post-date-created">
				<time datetime="{{ $date.Format "2006-01-02" }}">{{ $date.Format "January 2006" }}</time>
			</p>

			<!-- Links -->
			<ul class="post-category-list">
				{{ if $websiteURL -}}
					<li class="post-category"><a href="{{ $websiteURL }}">Website</a></li>
				{{- end -}}
				{{- if $appStoreURL -}}
					<li class="post-category"><a href="{{ $appStoreURL }}">App Store</a></li>
				{{- end -}}
				{{- if $githubURL -}}
					<li class="post-category"><a href="{{ $githubURL }}">GitHub</a></li>
				{{- end }}
			</ul>
		</div>

		<!-- Project description -->
		<p class="project-description">{{ $description }}</p>
	</div>
</div>
