<div class="project">
	{{ $name := .Get "name" }}
	{{ $date := .Get "date" | time }}
	{{ $description := .Get "description" }}
	{{ $iconPath := .Get "iconPath" }}
	{{ $websiteURL := .Get "websiteURL" }}
	{{ $githubURL := .Get "githubURL" }}
	{{ $productHuntURL := .Get "productHuntURL" }}

	<!-- Icon -->
	<a href="{{ $websiteURL }}" class="icon-link">
		<img src="{{ $iconPath }}" alt="{{ $name }} icon" width="80" height="80" class="project-icon" />
	</a>

	<div class="project-info">
		<!-- Project name -->
		<h4>
			<a href="{{ $websiteURL }}">
				{{ $name }}
			</a>
		</h4>

		<div class="post-info">
			<!-- Date (month and year) -->
			<p>{{ $date.Format "January 2006" }}</p>

			<!-- Links -->
			<ul class="post-categories">
				<li>
					{{ if $githubURL }}
						<a href="{{ $githubURL }}">GitHub</a>,
					{{ end }}
					{{ if $productHuntURL }}
						<a href="{{ $productHuntURL }}">Product Hunt</a>
					{{ end }}
				</li>
			</ul>
		</div>

		<!-- Description -->
		<p>{{ $description }}</p>
	</div>
</div>
